{
  "extends": [
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "globals": {},
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-useless-escape": 0,
    "no-underscore-dangle": [
      "error",
      { "allow": ["_id"] }
    ],
    "no-param-reassign": ["error", { "props": false }],
    "class-methods-use-this": ["error", { "exceptMethods": ["createErrorElement"] }],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
