/nbproject/private/
/bower_components/
node_modules
gif-example
download
src
styles

index.html

package-lock.json
tsconfig.json
tslint.json
webpack.config.js

__tests__
.vscode

npm-debug.log

.npmignore
.babelrc
.editorconfig
.gitignore
