/nbproject/private/
/bower_components/
node_modules
gif-example
download
src

rollup-build.js
index.html
public/index-example.js

__tests__
.vscode

npm-debug.log

.npmignore
.babelrc
.editorconfig
.gitignore
