h1 {
	margin: 0 0 40px 0;
}

form {
	margin: 0 0 60px 0;
	border-bottom: 2px solid lightgray;
}

ul {
	width: 300px;
	padding: 0;
	margin: 0;
}

li {
	position: relative;
	display: block;
	margin: 0 0 20px 0;
	list-style: none;
}

label {
	display: block;
	margin-bottom: 10px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
	display: inline-block;
	width: 220px;
	padding: 10px 5px;

	box-sizing: border-box;
	border: 1px solid #dedede;
	border-radius: 6px;
}

input[type="radio"],
input[type="checkbox"] {
	display: block;
}

.tooltip {
  bottom: 10px;
  left: 230px;
}
